In [1]:
lst = ['one',2,True]

In [2]:
print(lst)

['one', 2, True]

To find the length of the list, we use 'len' function.

In [5]:
print(len(lst))

3

list.insert(index, element)
index: Position where you want to insert the element.
element: The item to be inserted.

In [22]:
test = ['MAGDUM','PRATIIK']
print(test)

['MAGDUM', 'PRATIIK']

In [23]:
test.insert(1,'DADASAHEB')
print(test)

['MAGDUM', 'DADASAHEB', 'PRATIIK']

The list.remove() function in Python is used to remove the first occurrence of a specific value from a list.

In [26]:
print(test)
test.insert(1,'PRATIIK')
print(test)

['MAGDUM', 'PRATIIK', 'DADASAHEB', 'PRATIIK']
['MAGDUM', 'PRATIIK', 'PRATIIK', 'DADASAHEB', 'PRATIIK']

In [27]:
test.remove('PRATIIK')
print(test)

['MAGDUM', 'PRATIIK', 'DADASAHEB', 'PRATIIK']

The list.append() method in Python is used to add an element to the end of a list.

In [28]:
test.append('DHULA')
print(test)

['MAGDUM', 'PRATIIK', 'DADASAHEB', 'PRATIIK', 'DHULA']

In [29]:
fruits = ['apple', 'banana']
flowers = ['MOGRA','Sunflower']
fruits.append(flowers)
print(fruits)

['apple', 'banana', ['MOGRA', 'Sunflower']]

In [30]:
print(fruits)

['apple', 'banana', ['MOGRA', 'Sunflower']]

In [31]:
fruits = ['pineapple','mango','strawberry']

In [32]:
more_fruits = ['orange','mosambi']

In [35]:
fruits.extend(more_fruits)

In [36]:
print(fruits)

['pineapple', 'mango', 'strawberry', 'orange', 'mosambi']

- **List Delete**

list.pop([index])
index (optional): The position of the item to remove.
If you donâ€™t provide it, the last item is removed.

In [37]:
fruits = ['pineapple','mango','strawberry']
fruits.pop()
print(fruits)

['pineapple', 'mango']

In [38]:
fruits.pop(0)
print(fruits)

['mango']

**Remove** Removes the first occurrence of a specific **value** from the list.

In [42]:
fruits = ['pineapple','mango','strawberry','mango']
fruits.remove('mango')
print(fruits)

['pineapple', 'strawberry', 'mango']

In [43]:
fruits.remove()

TypeError: list.remove() takes exactly one argument (0 given)

The **sorted()** function in Python is used to return a new sorted list from any iterable (like a list, tuple, or string), without modifying the original.

sorted(iterable, key=None, reverse=False)

In [45]:
numbers = [15,1,3,6,9,7,74,45,654,4,5,56,65,89]
print(sorted(numbers))

[1, 3, 4, 5, 6, 7, 9, 15, 45, 56, 65, 74, 89, 654]

In [46]:
print(numbers)

[15, 1, 3, 6, 9, 7, 74, 45, 654, 4, 5, 56, 65, 89]

In [49]:
print(sorted(numbers, reverse = True))

[654, 89, 74, 65, 56, 45, 15, 9, 7, 6, 5, 4, 3, 1]

- **Sorted()**
1. Works on any iterable (like list, tuple, string).
2. Returns a new sorted list.
3. Does not change the original.

- **Sort()**
1. Works only on lists.
2. Sorts the list in place (modifies the original).
3. Returns None.

In [48]:
numbers.sort()
print(numbers)

[1, 3, 4, 5, 6, 7, 9, 15, 45, 56, 65, 74, 89, 654]

- **in**
- The keyword in in Python is used to check if a value exists in a sequence (like a list, tuple, string, set, or dictionary).

In [51]:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)  # True

True

In [53]:
str = 'Hello World'
print('Hello' in str)

True

- **split**
Breaks a string into a list.

Separator is the character (or word) you want to split by.

maxsplit (optional) tells how many times to split.

In [54]:
split = str.split(',')
print(split)
print(type(split))

['Hello World']
<class 'list'>

**List Indexing**

In [57]:
lst = [1,25,6,99]
print(lst[-1])

99

**Slice**
list[start : end : step]

In [59]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits[1:5:2]

['banana', 'date']

In [60]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits[1:2]

['banana']

In [61]:
fruits[1:4]

['banana', 'cherry', 'date']

In [62]:
fruits[-4:-1]

['banana', 'cherry', 'date']

- Reverse a list with slicing:

In [63]:
print(fruits[::-1]) #Reverse a list with slicing

['elderberry', 'date', 'cherry', 'banana', 'apple']

- **List Extention using +**

In [2]:
lst = [1,2,3,4]
lst2 = ['abc','pratik', 'dadasaheb','magdum']
lst_final = lst + lst2
print(lst_final)

[1, 2, 3, 4, 'abc', 'pratik', 'dadasaheb', 'magdum']

- count how many times an item appears in a list, you use the .count() method

In [3]:
fruits = ['apple', 'banana', 'apple','cherry','apple', 'date','apple','apple','apple','apple', 'elderberry']
print(fruits.count('apple'))

7

In [4]:
matrix = [
    [1,2,3],
    [4,5,6]
]

transform = []
for i in range(3):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transform.append(lst)

print(transform)

[[1, 4], [2, 5], [3, 6]]

- **Tuple**
- A tuple is like a list â€” it stores multiple items.
- But, tuples are immutable â€” ðŸ“Œ once you create it, you can't change it (no add, remove, or modify).
- Tuples use parentheses (), while lists use brackets []
- Tuple items are ordered, unchangeable, and allow duplicate values.

In [5]:
tup = ('pratik')
print(type(tup))

<class 'str'>

In [7]:
tup = ('pratik',) #comma with () round bracket gives the type as tuple
print(type(tup))

<class 'tuple'>

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[1:])

banana
cherry
('cherry',)
('apple', 'banana', 'cherry')
('banana', 'cherry')

- Update tuples

In [16]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append('orange')
print(tuple(thistuple))

('apple', 'banana', 'cherry')

- Add tuple

In [17]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple = ("apple", "banana", "cherry",('abc','pratik', 'dadasaheb','magdum'))
print(thistuple[3][0])

abc

In [19]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[:-1])

('apple', 'banana')

In [20]:
thistuple = ("apple", "banana", "cherry")
thistuple[1]='x'

TypeError: 'tuple' object does not support item assignment

In [21]:
thistuple = ("apple", "banana", "cherry")
thistuple2 = ('abc','pratik', 'dadasaheb','magdum')
print(thistuple + thistuple2)

('apple', 'banana', 'cherry', 'abc', 'pratik', 'dadasaheb', 'magdum')

In [24]:
thistuple = ("apple",) * 4
print(thistuple)

('apple', 'apple', 'apple', 'apple')

In [25]:
thistuple

('apple', 'apple', 'apple', 'apple')

In [28]:
print('apple' in thistuple)

True